* {
  -moz-user-select: none;

  -webkit-user-select: none;

  user-select: none;
}

#three {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  /* z-index: 999; */
  /* cursor: url('../../static/image/mouse.ico'),pointer */
}
.element {
  padding: 25px 30px;
  box-shadow: 0px 0px 12px #00ffff80;
  border: 1px solid rgba(127,255,255,0.25);
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  /* cursor: url('../../static/image/mouse.ico'),pointer */
  /* background-image: url("../../static/image/panel.png");
  background-size: 100%; */
  
}
.element .bigTitle{
  color: #fff;
  font-weight: 900;
  font-size: 45px;
}
.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

  .chart{
    background-color: rgba(0,0,0,0.2);
  }

  .panelInfo{
    box-sizing: border-box;
    padding: 20px;
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    background-image: url("../../static/image/panel.png");
    background-size: 100% 100%;
    opacity: 0;
}
.panelInfo .littleTitle{
    width: 100%;
    color: #fff;
    font-weight: 900;
}
.panelInfo .textInfo{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.panelInfo .sigleInfo{
    width: 50%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panelInfo .name{
    color: rgb(197, 194, 194);
    font-size: 10px;
    margin-top: 10px;
}
.panelInfo .value{
    color: rgb(10, 186, 240);
    font-weight: 900;
    font-size: 14px;
}
.panelInfo img{
    width: 30px;
}